<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />

    <script src="http://cdn.kendostatic.com/2015.1.429/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
</head>
<body>
    <div class="content-pane">
        <div id="grid"></div>
    </div>
    <script>
        function dateTimeEditor(container, options) {
            $('<input data-text-field="' + options.field + '" data-value-field="' + options.field + '" data-bind="value:' + options.field + '" data-format="' + options.format + '"/>')
                    .appendTo(container)
                    .kendoDatePicker();
        }

        $(document).ready(function () {
            var UrlBase = "/";
            $("#grid").kendoGrid({
                dataSource: {
                    pageSize: 5,
                    dataType: "jsonp",
                    transport: {
                        read: {
                            url: UrlBase+"api/Student",
                            contentType: "application/json; charset=utf-8",
                            type: "GET"
                        },
                        create: {
                            url: UrlBase+"api/Student",
                            contentType: "application/json; charset=utf-8",
                            type: "POST"
                        },
                        update: {
                            url: UrlBase+"api/Student",
                            contentType: "application/json; charset=utf-8",
                            type: "PUT"
                        },
                        destroy: {
                            url: UrlBase + "api/Student",
                            contentType: "application/json; charset=utf-8",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(data);
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                id: { type: "int", editable: false, nullable: false, validation: { required: true } },
                                stu_id: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                stu_name: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                stu_phone: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                stu_birth: { type: "date", editable: true, nullable: false, validation: { required: true } },
                                stu_info: { type: "string", editable: true }
                            }
                        }
                    }

                },
                height: 550,
                sortable: true,
                scrollable: true,
                groupable: true,
                filterable: true,
                editable: "inline",
                toolbar: ["create"],
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "stu_id", title: "學生編號", width: "100px" },
                    { field: "stu_name", title: "學生姓名", width: "100px" },
                    { field: "stu_phone", title: "學生手機", width: "160px" },
                    { field: "stu_birth", title: "學生生日", width: "160px", format: "{0:dd/MM/yyyy}", editor: dateTimeEditor },
                    { field: "stu_info", title: "學生資訊", width: "160px" },
                    { command: ["edit", "destroy"], title: "Command", width: "250px" }
                ]
            });

        });
    </script>
</body>
</html>
